<% if @user.errors.any? %>

	<div id="errors">
		
		<p>Please correct the following <%= pluralize(@user.errors.count, "error") %></p>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for(@user) do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div>
		<%= f.submit @user.new_record? ? "Cadastrar Pessoa" : "Atualizar Cadastro" %>
	</div>
<% end %>